@import "tailwindcss";

@plugin "@tailwindcss/typography";

@layer base {
    html {
        font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 16px;
    }
}

@theme {
    --color-bg-dark: #1e1f26;
    --color-bg-dark-card: #262730;
    --color-bg-dark-surface: #2a2b36;
    --color-purple: #6a2fb8;
    --color-purple-light: #8b5cf6;
    --color-cyan: #38efdc;
    --color-cyan-light: #5ff5e6;
}